.popover.warning {
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.popover.warning .popover-content {
    padding: 4px 10px 4px 10px;
    font-size: 12px;
}

.popover.warning .arrow:after {
    border-top-color: yellow;
}

.popover.warning.top .arrow:after {
    border-top-color: yellow;
    border-right-color: transparent;
}

.select2.select2-container {
    margin-bottom: 10px; /* Match the 10px bottom margin on input elements applied by bootstrap */
}

table td .select2.select2-container {
    margin-top: 0;
}

.constraint-icon {
    width:14px;
    height:14px;
    display:inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.constraint-image {
    width:30px;
    height:30px;
    display:inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.constraint-text {
    display:inline-block;
    height: 14px;
}


/** Styling for the condition / trajectory component used by threatened species recovery and state of the environment reporting */
.condition {
    stroke-width: 2;
    stroke: white;
}

.condition.condition-very-poor {
    fill:red;
}
.condition.condition-poor {
    fill:orange;
}
.condition.condition-good {
    fill:green
}
.condition.condition-very-good {
    fill:green
}

.trajectory {
    fill:white;
    stroke: #787878;
    stroke-width: 8px;
}
.trajectory-icon path{
    fill: #787878;
    stroke: #787878;
    stroke-width: 0;
}

span.preLabel {
    margin:0;
}

input[type=number] {
    text-align: center;
}

.repeating-section + .repeating-section {
    margin-top: 15px;
    padding-top: 25px;
    border-top: 1px solid #999;
}

button.add-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.species-select2 .select2 {
    width:90% !important; min-width:200px; box-sizing:border-box;
}

table .select2-container .select2-selection--single {
    height:initial;
}

/** Emulate bootstrap styling for input fields for the select 2 */
div.species-select2[class*="div"] {
    display:inline-block;
    float:none;
    margin-left:0;
    position: relative;
}
div.species-select2 > span.input-group {
    width: 100%;
}

table textarea, table .select {
    width:100%; box-sizing:border-box;
}

table .select2 {
    width:100% !important; box-sizing:border-box;
}

.model-form div.col-border-right {
    border-right: 1px solid lightgrey;
    padding-right: 2%;
}

.model-form .border-bottom {
    border-bottom: 1px solid lightgrey;
}
.model-form .border-top {
    border-top: 1px solid lightgrey;
}

.model-form [class*=span] textarea:not([class*=span]) {
    width: 100%;
    box-sizing: border-box;
}

.model-form .span12 input[type=text]:not([class*=span])  {
    width: 100%;
    box-sizing: border-box;
    min-height: 28px;
}


#error-info .formError.inline .formErrorContent {
    box-sizing: border-box;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.unstyled {
    list-style-type: none !important;
}

textarea {
    border: 1px solid #cccccc;
}
.customAddOn {
    height: 31px !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.customPrepend {
    height: 38px !important;
}

span.input-group-append.input-group-text.customAppend {
    height: 31px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.customMultiInput {
    margin: 2px 2px 2px 9px !important;
    padding: 0 !important;
}

input.input-small[type="number"] {
    max-width: 125px;
}

.input-group .input-group-append .input-group-text, table .autocompleteSpecies .input-group-text {
    height: 31px;
}

.map-modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}

.species-select2 .input-group .input-group-text {
    height: 30px;
}

/**
This compensates for differences in JSON when laying out components in a column - if the row is not providing
the bottom margin, add it to the input group.
 */
.row:not(.space-after) > .col-sm-12 > .input-group input.form-control {
    margin-bottom: 10px;
}

:not(table) .col-sm-6 > select.form-control.form-control-sm, :not(table) .col-sm-12 > select.form-control.form-control-sm, :not(table) .col-sm-3 > select.form-control.form-control-sm, :not(table) .col-sm-12 > button.btn.edit-feature{
    width: 19rem;
}

input.score {
    border-color: #4983a0;
}